<!DOCTYPE html>
<html>
<head>
	<title>Yuki Desgins</title>

	<!-- Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- Load Static -->
	{% load static %}

	<!-- Static CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">

	<!-- CDN CSS -->

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<!-- Navigation -->
	{% include 'home/nav.html' %}

	<!-- Content -->
	{% block content %}
	{% endblock content %}

	<!-- Footer -->
	{% include 'home/footer.html' %}

	<!-- Static Scripts -->
	<script src="{% static 'home/js/main.js' %}"></script>
	<script src="{% static 'home/js/quote.js' %}"></script>

	<!-- CDN Scripts -->
</body>
</html>