<div class="footer-dark">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 item">
					<h3>About</h3>
					<ul>
						<li><a onclick="scroller('#why')" href="javascript:void(0)">Why</a></li>
						<li><a onclick="scroller('#about')" href="javascript:void(0)">About</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 item">
					<h3>Clients</h3>
					<ul>
						<li><a href="javascript:void(0)">Get started</a></li>
					</ul>
				</div>
				<div class="col-md-6 item text">
					<h3>Yuki Designs</h3>
					<p>Yuki Designs offers responsive websites and high quality designs for anyone at an extremely competitive price.</p>
				</div>
			</div>
			<p class="copyright">TheWebKit © 2019</p>
		</div>
	</footer>
</div>