{% extends 'home/base.html' %}

{% load static %}

{% block content %}
<!-- Hero -->
<div class="hero">
	<div class="row">
		<h2 class="title">Websites for&nbsp;<b id="yuki_words"></b></h2>
	</div>
	<p class="subtitle">
		Get your very own website today
	</p>
	<button onclick="void(0)" class="learn-more">
		Learn More
	</button>
</div>

<!-- Why -->
<div id="why" class="why">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 why-image">
				<div class="gif">
					<!-- Static -->
					<img src="{% static 'home/img/why.gif' %}">

					<!-- CDN -->
					<!-- <img src="https://cdn.jsdelivr.net/gh/owinckle/TheWebKit/twk_home/static/twk_home/img/why.gif"> -->
				</div>
			</div>
			<div class="col-md-6 why-description">
				<h1>Your customers went somewhere else.</h1>
				<p>...Isn't it time you did too?</p>
				<hr>
				<h3 class="description-text">People use the internet every day. Your website is your online identity. Yuki Designs is here to help anyone make a name for themselves.</h3>
			</div>
		</div>
	</div>
</div>
<!-- End Why -->

<!-- About -->
<div id="about" class="about">
	<div class="container-fluid">
		<div class="row">
			<h2>What is Yuki Designs?</h2>
			<p>Yuki Designs offers high quality websites for anyone willing to improve their online status, therefore to help YOU get more online exposure.</p>
			<p><i class="fa fa-envelope"></i>&nbsp;info@yukidesigns.io</p>
		</div>
	</div>
</div>
<!-- End About -->

<!-- Quote -->
<div id="price" class="price-table">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Get a quote</h4>
				</div>
				<div class="card-body">
					<button id="start-now" class="quote-button">Start now</button>
					<form id="price-table-form">
						<div class="label-container" id="type-label">
							<p>What type of website do you need?</p>
							<input type="radio" id="type-custom" name="type" value="0">
							<label for="type-custom">Custom website with a lot of content</label>
							<input type="radio" id="type-fast" name="type" value="1">
							<label for="type-fast">Fast design with little content (recommended for small businesses)</label>
						</div>
						<div class="label-container" id="responsive-label">
							<p>Should your website be responsive?</p>
							<input type="radio" id="responsive-no" name="responsive" value="0">
							<label for="responsive-no">No</label>
							<input type="radio" id="responsive-yes" name="responsive" value="1">
							<label for="responsive-yes">Yes</label>
						</div>
						<div class="label-container" id="pages-label">
							<p>How many pages do you need?</p>
							<input type="radio" id="page1" name="pages" value="1">
							<label for="page1">1</label>
							<input type="radio" id="page2" name="pages" value="2">
							<label for="page2">2</label>
							<input type="radio" id="page3" name="pages" value="3">
							<label for="page3">3</label>
							<input type="radio" id="page4" name="pages" value="4">
							<label for="page4">4</label>
							<input type="radio" id="page5" name="pages" value="5">
							<label for="page5">5</label>
							<input type="radio" id="more" name="pages" value="0">
							<label for="more">More</label>
						</div>
						<p class="label-price" id="price-label">0€</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Quote -->
{% endblock content %}